@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
//variables
$header-height:3rem;
$nav-width:68px;
//colors
$primary-color:#4723D9;
$primary-color-light: #AFA5D9;
$white-color: #F7F6FB;
$black-color: #555;
//Font and typography
$body-font:'Nunito', sans-serif;
$normal-font-size:1rem;
//indexing
$z-index:100;
