@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
//variables
$header-height:3rem;
$nav-width:68px;
//colors
$primary-color:#4723D9;
$primary-color-light: #DCD6F7;
$white-color: #F7F6FB;
$white:#fff;
$black-color: #2A2B2A;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$danger-color:#f44336;
//Font and typography
$body-font:'Nunito', sans-serif;
$normal-font-size:1rem;
//indexing
$z-index:100;
